# Pandas : 

Pandas is a popular library for data analysis built on top of the Python programming language. Pandas generally provide two data structures for manipulating data, They are:
-    DataFrame
-    Series

A DataFrame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

In [1]:
#import pandas library:

import pandas as pd

In [5]:
# create a dataframe out of dictionary

x = {'Color': ['Red','Blue', 'Green ', 'Yellow'], 'ID': [1, 2, 3, 4], 'Category': ['Apple', 'Berrry', 'Avacardo', 'Mango'], 
      'Price in $':[10, 8, 5, 6]}
df=pd.DataFrame(x)
print(df)

    Color  ID  Category  Price in $
0     Red   1     Apple          10
1    Blue   2    Berrry           8
2  Green    3  Avacardo           5
3  Yellow   4     Mango           6

In [12]:
# column selection

x=df[['Color']]
print(x)

print(type(x))

    Color
0     Red
1    Blue
2  Green
3  Yellow
<class 'pandas.core.frame.DataFrame'>

In [10]:
x=df[['Color', 'Category']]
print(x)

    Color  Category
0     Red     Apple
1    Blue    Berrry
2  Green   Avacardo
3  Yellow     Mango

In [11]:
print(type(x))

<class 'pandas.core.frame.DataFrame'>

In [21]:
# to view column as a series just you one bracket

z=df['Color']
print(z)

0       Red
1      Blue
2    Green
3    Yellow
Name: Color, dtype: object

## loc() and iloc() functions

loc() is a label-based data selecting method which means that we have to pass the name of the row or column that we want to select. This method includes the last element of the range passed in it.

Simple syntax for your understanding:

    loc[row_label, column_label]

iloc() is an indexed-based selecting method which means that we have to pass integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it.

Simple syntax for your understanding:

    iloc[row_index, column_index]

In [27]:
# create a dataframe out of dictionary

x = {'Color': ['Red','Blue', 'Green ', 'Yellow'], 'ID': [1, 2, 3, 4], 'Category': ['Apple', 'Berrry', 'Avacardo', 'Mango'], 
      'Price in $':[10, 8, 5, 6]}
df=pd.DataFrame(x)
print(df)

    Color  ID  Category  Price in $
0     Red   1     Apple          10
1    Blue   2    Berrry           8
2  Green    3  Avacardo           5
3  Yellow   4     Mango           6

In [28]:
# access the value of the first row and first column

a=df.iloc[0,0]
print(a)

Red

In [29]:
# Access the value on the first row and the fourth column

a=df.iloc[0,3]
print(a)

10

In [30]:
# Access the value by using column label
a=df.loc[0,'Color']
print(a)

Red

In [32]:
a=df.loc[0,'Price in $']
print(a)

10

In [45]:
df2=df
print(df2)

    Color  ID  Category  Price in $
0     Red   1     Apple          10
1    Blue   2    Berrry           8
2  Green    3  Avacardo           5
3  Yellow   4     Mango           6

In [46]:
df2.head()

    Color  ID  Category  Price in $
0     Red   1     Apple          10
1    Blue   2    Berrry           8
2  Green    3  Avacardo           5
3  Yellow   4     Mango           6

In [48]:
df2=df2.set_index('Color')

In [49]:
df2.head()

        ID  Category  Price in $
Color
Red      1     Apple          10
Blue     2    Berrry           8
Green    3  Avacardo           5
Yellow   4     Mango           6

In [50]:
df2.loc['Blue','ID']

2

In [52]:
df2.iloc[0,2]

10

### Slicing

Slicing uses the [] operator to select a set of rows and/or columns from a DataFrame.

To slice out a set of rows, you use this syntax: data[start:stop]

NOTE: Labels must be found in the DataFrame or you will get a KeyError.

Indexing by labels(i.e. using loc()) differs from indexing by integers (i.e. using iloc()). With loc(), both the start bound and the stop bound are inclusive. When using loc(), integers can be used, but the integers refer to the index label and not the position.

For example, using loc() and select 1:4 will get a different result than using iloc() to select rows 1:4.

In [53]:
print(df)

    Color  ID  Category  Price in $
0     Red   1     Apple          10
1    Blue   2    Berrry           8
2  Green    3  Avacardo           5
3  Yellow   4     Mango           6

In [57]:
df.iloc[0:3,0:4]

    Color  ID  Category  Price in $
0     Red   1     Apple          10
1    Blue   2    Berrry           8
2  Green    3  Avacardo           5

In [58]:
df.iloc[0:1,0:4]

  Color  ID Category  Price in $
0   Red   1    Apple          10

In [63]:
df.loc[0:1,'Color':'Category']

  Color  ID Category
0   Red   1    Apple
1  Blue   2   Berrry

### Author

Garima0186